@{
    ViewData["Title"] = "Підтвердження електронної пошти";
}

<h2><center>Підтвердження електронної пошти</center></h2>

<hr />

<center>
    <h4>
        Вашу електронну адресу було успішно підтверджено. <a asp-action="Login">Натисніть тут, щоб увійти</a>.
    </h4>
</center>