@{
    ViewData["Title"] = "Зміна паролю";
}

<h2><center>Зміна паролю</center></h2>

<hr />

<center>
    <h4>
        На вашу електронну пошту було надіслано лист для подальшої зміни пароля.
    </h4>
</center>