@model RegisterVM
@{
    ViewData["Title"] = "Реєстрація";
}

<h2><center>Реєстрація</center></h2>

<hr />

<div asp-validation-summary="All" class="text-danger"></div>

<center>
    <div class="row centered">
        <div class="col-md-4 col-sm-7 col-8">
            <form asp-action="Register">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Електронна пошта</label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Пароль</label>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">Пароль ще раз</label>
                    <input asp-for="ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <form asp-action="Create">
                    <input type="submit" value="Зареєструватись" class="btn btn-primary btn-wide">
                </form>
            </form>
        </div>
    </div>
</center>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}