@model BusinessLogic.Models.ResetPasswordModel
@{
    ViewData["Title"] = "Змінити пароль";
}

<h2><center>Змінити пароль</center></h2>

<hr />

<div asp-validation-summary="All" class="text-danger"></div>

<center>
    <div class="row centered">
        <div class="col-md-4 col-sm-7 col-8">
            <form asp-action="ResetPassword">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Пароль</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">Пароль ще раз</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Email" class="form-control" />
                <input type="hidden" asp-for="Token" class="form-control" />
                <form asp-action="Create">
                    <input type="submit" value="Змінити" class="btn btn-primary btn-wide">
                </form>
            </form>
        </div>
    </div>
</center>