@{
    ViewData["Title"] = "Підтвердження зміни пароля";
}

<h2><center>Підтвердження зміни пароля</center></h2>

<hr />

<center>
    <h4>
        Ваш пароль було успішно змінено. <a asp-action="Login">Натисніть тут, щоб увійти</a>.
    </h4>
</center>