@model BusinessLogic.Models.ResetPasswordModel
@{
    ViewData["Title"] = "Змінити пароль";
}

<h2 style="margin-top: 3rem;"><center>Змінити пароль</center></h2>

<hr />

<div asp-validation-summary="All" class="text-danger"></div>

<center>
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-md-4">
            <form asp-action="ResetPassword">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" style="margin-bottom: 1rem;">
                    <label asp-for="Password" class="control-label" style="margin-bottom: 0.5rem;">Пароль</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom: 1rem;">
                    <label asp-for="ConfirmPassword" class="control-label" style="margin-bottom: 0.5rem;">Пароль ще раз</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Email" class="form-control" />
                <input type="hidden" asp-for="Token" class="form-control" />
                <form asp-action="Create">
                    <input type="submit" value="Змінити" class="btn btn-primary" style="padding-right: 2rem; padding-left: 2rem;">
                </form>
            </form>
        </div>
    </div>
</center>