@{
    ViewData["Title"] = "Підтвердження реєстрації";
}

<h2><center>Підтвердження реєстрації</center></h2>

<hr />

<center>
    <h4>
        Перевірте вашу електронну скриньку для подальшої верифікації.
    </h4>
</center>