@model SettingsVM

@{
    ViewData["Title"] = "Налаштування категорій";
}

<h2 style="margin-top: 3rem;"><center>Налаштування категорій</center></h2>

<hr />

<a asp-action="Create" class="btn btn-info" style="margin-left: 3rem; margin-bottom: 2rem; margin-top: 1rem;">Додати категорію</a>

<center>
    <table class="table" style="width: 60%;">
        <thead>
            <tr>
                <th>
                    <span style="margin-left: 4.5rem;">Категорія</span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div style="display: flex; justify-content: center;">
                            <a asp-action="EditCategory" asp-route-id="@item.Id" class="btn btn-warning" style="margin-right: 1rem;">Редагувати</a> |
                            <a asp-action="DeleteCategory" asp-route-id="@item.Id" class="btn btn-danger" style="margin-left: 1rem;">Видалити</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
