@model CategoryVM
@{
    ViewData["Title"] = "Видалення категорії";
}

<h2><center>Видалення категорії</center></h2>

<hr />

<h3>Ви впевнені, що хочете видалити категорію @Html.DisplayFor(model => model.Name)?</h3>

<div class="d-flex" style="margin-top: 1rem;">
    <form asp-action="DeleteCategory">
        <input type="submit" value="Видалити" class="btn btn-danger">
    </form>

    <a asp-action="Categories" style="margin-left: 1rem; margin-top: 0.25rem;">Назад до списку категорій</a>
</div>
