@model AccountVM

@{
    ViewData["Title"] = "Редагувати рахунок";
}

<h2><center>Редагувати рахунок</center></h2>

<hr />

<center>
    <div class="row centered" style="margin-bottom: 1rem;">
        <div class="col-md-4 col-sm-7 col-8">
            <form asp-action="EditAccount">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Назва</label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Зберегти" class="btn btn-primary btn-wide"/>
                </div>
            </form>
        </div>
    </div>

    <div style="margin-top: 1rem;">
        <a asp-action="Accounts">Назад до налаштувань рахунків</a>
    </div>
</center> 

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
