@model CategoryVM

@{
    ViewData["Title"] = "Редагування категорії";
}

<h2><center>Редагування категорії</center></h2>

<hr />

<center>
    <div class="row" style="justify-content: center;">
        <div class="col-md-4 col-sm-7 col-8">
            <form asp-action="EditCategory">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Назва</label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div style="display: flex; flex-direction: column; margin-bottom: 1rem;">
                    <label style="margin-bottom: 0.5rem;">Оберіть тип категорії</label>
                    <div>
                        <label style="margin-right: 1rem;">
                            <input asp-for="Type" type="radio" name="Type" value="1" checked /> Дохід
                        </label>
                        <label>
                            <input asp-for="Type" type="radio" name="Type" value="-1" /> Витрата
                        </label>
                    </div>
                </div>
                <form asp-action="Save">
                    <input type="submit" value="Зберегти" class="btn btn-primary btn-wide">
                </form>
            </form>
        </div>
    </div>

    <div style="margin-top: 1rem;">
        <a asp-action="Categories">Назад до списку категорій</a>
    </div>

</center>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
