@model SettingsVM

@{
    ViewData["Title"] = "Налаштування";
}

<h2><center>Налаштування</center></h2>

<hr />

<center>
    <div class="centered" style="margin-top: 3rem; flex-direction: column; max-width: 40%;">
        <a asp-action="Accounts" class="btn btn-info btn-wide">Рахунки</a>

        <a asp-action="Categories" class="btn btn-info btn-wide" style="margin-top: 2rem;">Категорії</a>
    </div>
</center>