@model SettingsVM

@{
    ViewData["Title"] = "Налаштування";
}

<h1>Налаштування</h1>

<a asp-action="Accounts" class="btn btn-success">Рахунки</a>

<a asp-action="Categories" class="btn btn-success">Категорії</a>
