@model AccountsVM

@{
    ViewData["Title"] = "Додати рахунок";
}

<h2 style="margin-top: 3rem;"><center>Додати рахунок</center></h2>

<hr />

<center>
    <div class="row" style="justify-content: center; margin-bottom: 1rem;">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" style="margin-bottom: 1rem;">
                    <label asp-for="Name" class="control-label">Назва</label>
                    <input asp-for="Name" class="form-control" style="margin-bottom: 0.5rem;"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                @foreach (var item in Model.StartBalances)
                {
                    <div class="form-group" style="margin-bottom: 1rem;">
                        <label asp-for="@item.Value" class="control-label" style="margin-bottom: 0.5rem;">@item.Key</label>
                        <input asp-for="@item.Value" type="number" name="StartBalances[@item.Key]" class="form-control" />
                    </div>
                }
                <form asp-action="Create">
                    <input type="submit" value="Додати" class="btn btn-primary" style="padding-right: 4rem; padding-left: 4rem;">
                </form>
            </form>
        </div>
    </div>

    <div style="margin-top: 1rem;">
        <a asp-action="Index">Назад на головну</a>
    </div>
</center>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
