@model TransactionVM

@{
    ViewData["Title"] = "Редагування транзакції";
}


<h2><center>Редагувати транзакцію</center></h2>

<hr />

<center>
    <div class="row centered">
        <div class="col-md-4 col-sm-7 col-8">
            <form asp-action="EditTransaction">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="AccountsAndCurency" class="control-label">Рахунок</label>
                    <select asp-for="AccountsAndCurency" class="form-control js-example-basic-single" asp-items="ViewBag.AccountsAndCurency">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">Категорія</label>
                    <select asp-for="CategoryId" class="form-control js-example-basic-single" asp-items="ViewBag.Categories">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Sum" class="control-label">Сума</label>
                    <input asp-for="Sum" class="form-control"/>
                    <span asp-validation-for="Sum" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Зберегти" class="btn btn-primary btn-wide"/>
                </div>
            </form>
        </div>
    </div>

    <div style="margin-top: 1rem;">
        <a asp-action="Index">Назад до списку транзакцій</a>
    </div>
</center>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
