@model HomeVM

@{
    ViewData["Title"] = "Головна";
}

<div>
    @Html.DisplayFor(model => model.Summary)
</div>

<div>
    Частка витрат: @Html.DisplayFor(model => model.ExpencesPercentage)%
    </br>

    Частка залишку: @Html.DisplayFor(model => model.ProfitsPercentage)%
</div>

<a asp-action="CreateTransaction" class="btn btn-outline-danger">Додати транзакцію</a>