@model ExpencesVM

@{
    ViewData["Title"] = "Витрати";
}

<h1>Витрати</h1>
@foreach (var item in Model.ExpencesByCategory)
{
    <tr>
        <td>
            @item
        </td>
    </tr>
    <hr />
    <br />
}

@Html.DisplayFor(model => model.Summary)
