@model ExpencesVM

@{
    ViewData["Title"] = "Витрати";
}

<h2><center>Витрати</center></h2>

<hr />

@foreach (var item in Model.ExpencesByCategory)
{
    <div class="info-container" style="margin-bottom: 1rem !important; border: 2px solid #dc3545; background-color: #f8d7da; color: #721c24;">
        @item
    </div>
}

<div class="info-container" style="margin-top: 2rem !important; border: 2px solid #17a2b8; background-color: #cce5ff; color: #004085;">
    @Html.DisplayFor(model => model.Summary)
</div>