@model ProfitsVM

@{
    ViewData["Title"] = "Доходи";
}

<h2><center>Доходи</center></h2>

<hr />

@foreach (var item in Model.ProfitsByCategory)
{
    <div class="info-container" style="margin-bottom: 1rem !important; border: 2px solid #28a745; background-color: #d4edda; color: #155724;">
        @item
    </div>
}

<div class="info-container" style="margin-top: 2rem !important; border: 2px solid #17a2b8; background-color: #cce5ff; color: #004085;">
    @Html.DisplayFor(model => model.Summary)
</div>
